@model IEnumerable<GBKingdom.Models.Product>

@{
    ViewData["Title"] = "GBK Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>GBK Products</h1>
@foreach (var product in Model)
{
    <div>
        <h4>@Html.ActionLink(product.Name, "Details", new { id = product.ProductId })</h4>
        <p>Price: $@Html.DisplayFor(prod => product.Price)</p>
    </div>
}